body {
    margin: 0;
    padding: 0;
    text-align: center; /* !!! */
}

.chart {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    height: 400px;
}

.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
	text-align: center;
}

.left-aligned {
    margin: 0 auto;
    text-align: left;
    width: 800px;
	text-align: left;
}

.right-aligned {
    margin: 0 auto;
    text-align: left;
    width: 800px;
	text-align: right;
}

ul {
list-style-type: bullet;
padding: 0;
margin: 0;
text-align: left;
}

.expand {
    margin: 0 auto;
	padding: 10px;
    text-align: left;
    width: 400px;
	text-align: center;
}

.expandCode {
    margin: 0 auto;
	padding: 10px;
    text-align: left;
    width: 800px;
	text-align: left;
}

.expandedDetails {
margin: 1px;
color: #fff;
padding: 3px 10px;
cursor: pointer;
position: relative;
background-color:#CCCCCC;
}
 
.expandedCodeDetails {
margin: 1px;
color: #fff;
padding: 3px 10px;
cursor: pointer;
position: relative;
background-color:#CCCCCC;
text-align: center;
}
.expandedContent {
padding: 5px 10px;
background-color:#fafafa;
}